language: csharp
services:
  - docker
mono: none
dotnet: 3.1
solution: ./Bank-account-kata/Bank-account-kata.sln
before_script:
  - apt-get install -y build-essential nodejs
script:
  - dotnet restore Bank-account-kata
  - dotnet build -c release Bank-account-kata
  - dotnet test ./BankTests/BankTests.csproj
  - dotnet publish Bank-account-kata -c release --no-build -o ./out
  - docker build -t bank-account-kata:v0 .    