matrix:
  include:
    - language: node_js
      node_js:
      - "14.15.0"
      dist: trusty
      sudo: required
      before_script:
        - npm install -g @angular/cli
      script:
      - cd ./Bank-account-kata/ClientApp
      - npm install
      - ng lint
      - ng build --prod
    - language: csharp
      mono: none
      dotnet: 3.1
      solution: ./Bank-account-kata/Bank-account-kata.sln
      script:
        - dotnet restore Bank-account-kata
        - dotnet build Bank-account-kata
        - dotnet test Tests