matrix:
  include:
    - language: node_js
      node_js:
      - "14.15.0"
      dist: trusty
      sudo: required
      before_script:
        - npm install -g @angular/cli
      script:
      - cd ./Bank-account-kata/ClientApp
      - npm install
      - ng lint
      - ng build --prod
    - language: csharp
      services:
        - docker
      mono: none
      dotnet: 3.1
      solution: ./Bank-account-kata/Bank-account-kata.sln
      script:
        - dotnet restore Bank-account-kata
        - dotnet build -c release Bank-account-kata
        - dotnet test ./BankTests/BankTests.csproj
        - dotnet publish -c release --no-build -o ./out
        - docker build -t bank-account-kata:v0 .