language: csharp
services:
  - docker
mono: none
dotnet: 3.1
solution: ./Bank-account-kata/Bank-account-kata.sln 
env:
  - NODE_VERSION=0.12
install:
  - nvm install $NODE_VERSION
script:
  - nvm use $NODE_VERSION
  - dotnet restore Bank-account-kata
  - dotnet build -c release Bank-account-kata
  - dotnet test ./BankTests/BankTests.csproj
  - dotnet publish Bank-account-kata -c release --no-build -o ./out 
addons:
  apt:
    update: true